[vgg16_bn]
features.0 = 128
features.3 = 128
features.7 = 128
features.10 = 128
features.14 = 128
features.17 = 128
features.20 = 128
features.24 = 128
features.27 = 128
features.30 = 128
features.34 = 128
features.37 = 128
features.40 = 128
classifier.0 = 512
classifier.3 = 512
classifier.6 = 512


[vgg16_bn]
features.0 = 96
features.3 = 96
features.7 = 96
features.10 = 96
features.14 = 96
features.17 = 96
features.20 = 96
features.24 = 96
features.27 = 96
features.30 = 96
features.34 = 96
features.37 = 96
features.40 = 96
classifier.0 = 160
classifier.3 = 160
classifier.6 = 160
