[resnet56]
conv1 = 29
layer1.0.conv1 = 12
layer1.0.conv2 = 12
layer1.1.conv1 = 16
layer1.1.conv2 = 18
layer1.2.conv1 = 16
layer1.2.conv2 = 16
layer1.3.conv1 = 27
layer1.3.conv2 = 27
layer1.4.conv1 = 27
layer1.4.conv2 = 27
layer1.5.conv1 = 25
layer1.5.conv2 = 25
layer1.6.conv1 = 25
layer1.6.conv2 = 25
layer1.7.conv1 = 24
layer1.7.conv2 = 24
layer1.8.conv1 = 24
layer1.8.conv2 = 24
layer2.0.conv1 = 32
layer2.0.conv2 = 32
layer2.1.conv1 = 32
layer2.1.conv2 = 28
layer2.2.conv1 = 30
layer2.2.conv2 = 32
layer2.3.conv1 = 32
layer2.3.conv2 = 32
layer2.4.conv1 = 32
layer2.4.conv2 = 30
layer2.5.conv1 = 32
layer2.5.conv2 = 29
layer2.6.conv1 = 32
layer2.6.conv2 = 32
layer2.7.conv1 = 32
layer2.7.conv2 = 32
layer2.8.conv1 = 30
layer2.8.conv2 = 30
layer3.0.conv1 = 61
layer3.0.conv2 = 61
layer3.1.conv1 = 62
layer3.1.conv2 = 64
layer3.2.conv1 = 60
layer3.2.conv2 = 61
layer3.3.conv1 = 63
layer3.3.conv2 = 64
layer3.4.conv1 = 64
layer3.4.conv2 = 64
layer3.5.conv1 = 64
layer3.5.conv2 = 64
layer3.6.conv1 = 63
layer3.6.conv2 = 62
layer3.7.conv1 = 64
layer3.7.conv2 = 60
layer3.8.conv1 = 60
layer3.8.conv2 = 56
linear = 12

